/*----------------------same blocks------------------------------*/
a{
   text-decoration: none;
}
a:hover{
   color:#00A4E5;
}
._button{
   width: 150px;
   height: 40px;
   background-color: #00A4E5;
   display: flex;
   
   justify-content: center;
   align-items: center;
}
._button-text{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 18px;
   letter-spacing: 0.5px;
   
   color: #FFFFFF;
}
/* ------- */
body {
   font-family: 'Open Sans', sans-serif;
   background-color: #E5E5E5;
   width: 100vw;
   overflow-x: hidden;
}
.wrapper {
   min-height: 100%;
   min-width: 100%;
   margin: 0px auto;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color:#FFFFFF;
   
}
._selection{
   color: #16ACE8;
}
._active {
   color: #00A4E5 !important;
}
._container {
   max-width: 941px;
   padding: 0px 0px;
   margin: 0px auto;
}



/*--------------------head-bg------------------------------------*/
.head-bg{
   width: 100%;
   height: 100vh;
   background: no-repeat url(/img/head-bg.png);
   background-size: 100% 100%;
}

.head-bg__bg{
   width: 100%;
   height: auto;
}
.bg-content{
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.bg-content__logo{
   width: 101.62px;
   height: 23px;
   display: block;
   margin-top: 40px;
}
.bg-content__text{
   display: flex;
   flex-direction: column;
   align-items:center;
   color: #FFFFFF;
}

.bg-content__text-title{
   font-family: 'Bebas Neue';
   font-size: 60px;
   line-height: 72px;
   letter-spacing: 5.70937px;
}

.bg-content__text-subtitle{
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}

.bg-content__btn{
   font-family: 'Open Sans';
   font-size: 11px;
   line-height: 15px;
   letter-spacing: 3.7px;
   margin-bottom: 71px;
   background-color: rgba(28,28,28,0);
   color: #FFFFFF;
   box-sizing: border-box;
   border: none;
   display: block;
}
/* -----------------HEADER---------------------------- */
.header {
   width: 100vw;
   height: 65px;
   margin-left: 0.5%;

   border: 1px solid #E6E6E6;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-bottom: 58px;
}
.header-content {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center

}
.header__navbar{
   width: 45%;
}
.nav-list{
   display: flex;
   justify-content: space-between;
   height: 100%;
   width: auto;
}
.nav-list li a{
   text-decoration: none;
}

.nav-list li:not(:first-child):not(:last-child){
   margin: 0 5px;
}

.menu_link{
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 12px;
   line-height: 16px;
   color: #48555B;
   letter-spacing: 1.09091px;
}



.burger{
   position: absolute;
   width: 24px;
   height: 24px;
   right: 40px;
   top: 29px;
   display: none;
}
/* ---------------Main------------------ */
.main {
   flex: 1 1 auto;
   margin-bottom: -2px;
}


/* --------------------OUR STORY--------------------------------- */
.about{
   margin-bottom: 118px;
}
.about__container{
   max-width: 941px;
   margin-top: 20px;
}
.about_title{
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 2.30625px;

   color: #48555B;
}

.our_story{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}

.about_title::after{
   content: '';
   display: block;
   width: 50px;
   height: 2px;
   margin: 10px auto 76px;
   background-color: #00A4E5;
}

.story__container{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.description {
   height: 224px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.description__title{
   width: 430px;
   height: 81px;
   left: 0px;
   top: 116px;
   font-weight: 700;
   font-size: 20px;
   line-height: 27px;
   letter-spacing: 0.1875px;

   color: #48555B;
}

.description__text{
   width: 405.08px;
   height: 115px;
   left: 0px;
   top: 227px;
   font-weight: 400;
   font-size: 13px;
   line-height: 23px;
   letter-spacing: 0.1875px;

   color: #48555B;
}

.pictures{
   display: flex;
}

.picture{
   position: relative;
   width: 140px;
   height: 224px;
   margin-left: 20px;
}
.pic{
   position: absolute;
}
.picture__title{
   position: relative;
   padding-left: 14px;
   padding-top: 15px;
   width: 68px;
   height: 58px;
   font-weight: 800;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 0.1875px;
   color: #FFFFFF;
}


/* -------------------OUR CAPABILITIES----------------- */
.services{
   height: 446px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 115px;
}
.services_header{
   
   display: flex;
   justify-content: space-between;
}
.services__title{
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 2.30625px;
   color: #48555B;
}
.services__title::after{
   content: '';
   display: block;
   width: 50px;
   height: 2px;
   margin-top: 10px;
   background-color: #00A4E5;
}

.services__description{
   width: 405.4px;
   height: 38px;
   font-weight: 400;
   font-size: 11px;
   line-height: 19px;
   margin-left: 15.4px ;

   letter-spacing: 0.2px;

   color: #48555B;

}

.services__button{
   width: 150px;
   height: 40px;
   background-color: #00A4E5;
   display: flex;
   
   justify-content: center;
   align-items: center;
}
.services__button-text{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 13px;
   line-height: 18px;
   
   color: #FFFFFF;
}

.services_service{
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.service_cart{
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   justify-content: space-between;
   align-items: flex-start;
   width: 295px;
   height: 330px;
   border: 1px solid #E6E6E6;
   color: #48555B;
}
.service_cart:not(:first-child):not(:last-child){
   margin: 0 10px;
}
.service_cart_icon{
   margin: 23px
}
.service_cart_title{
   margin-left: 23px;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.426667px;

}
.service_cart_text{
   margin: 23px;
   font-weight: 400;
   font-size: 13px;
   line-height: 23px;
   letter-spacing: 0.1875px;
   height: auto;

}

/* -------------get-in-touch------------------------ */

.get-in-touch{
   height: 499px;
   width: 100%;
   margin-bottom: -2px;
}
.get-in-touch_bg img{
   position: absolute;
   width: 100%;
   height: 499px;
   position:absolute;
}

.get-in-touch__content{
   height: 53.5%;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

.get-in-touch__question{
   text-align: center;
   margin-bottom: 35px;
   width: 350px;
   height: 72px;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   letter-spacing: 0.15px;
   color: #48555B;
}

/* --------------newsletter------------------------ */

.newsletter{
   height: 100px;
   width: 100%;
}

.newsletter_bg{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100px;

   background: #171819;

}

.newsletter__content{
   width: 685px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.newsletter__content-text{
   font-weight: 700;
   font-size: 22px;
   line-height: 30px;
   letter-spacing: 0.846154px;
   color: #FFFFFF;
}
.newsletter__content_wrapper{
   display:flex;
}
.newsletter__content-input{
   display: flex;
   justify-content: flex-start;
   padding-left: 16px;
   align-items: center;
   box-sizing: border-box;
   width: 250px;
   height: 40px;
   background: #FFFFFF;
   border: 1px solid #979797;
}

/* --------footer---------------- */

.footer{
   height: 299px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer_content{
   width: 100%;
   padding: 41px 0;
   background-color:#141A20;
}
.footer_content_wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 940px;
   color:#FFFFFF;
}

.footer__about{
   display: flex;
   flex-direction: column;
}

.footer__about-title{
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   letter-spacing: 0.846154px;

   color: #FFFFFF;
   margin-bottom: 19px;
}
.footer__about-logo{
   width: 101.62px;
   height: 23px;
   margin-bottom: 15px;
}
.footer__about-logo img{
   box-sizing: border-box;

   width: 101.62px;
   height: 23px;
}

.footer__about-description{
   width: 250px;
   height: 76px;
   font-weight: 400;
   font-size: 11px;
   line-height: 19px;
   letter-spacing: 0.85px;

   color: #FFFFFF;
}
.footer__links-container{
   max-width: 262px;
}
.footer__links{
   display:flex;
   flex-direction: column;
   width: 262px;
   height: 150px;
}
.links_group li a:hover{
   color: #00A4E5;
}
.footer__links-link{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   font-weight: 600;
   font-size: 11px;
   line-height: 25px;
   letter-spacing: 0.846154px;

   color: #FFFFFF;
}
.links_group li a{
   color:#FFFFFF;
}

.footer__contact{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 141px;
   height: 158px;
}
.footer__contact-phone a, .footer__contact-mail a{
   color:#FFFFFF;
}
.footer__contact-phone a:hover, .footer__contact-mail a:hover{
   color: #00A4E5;
}
.footer__contact-adress, .footer__contact-phone, .footer__contact-mail{
   font-weight: 400;
   font-size: 11px;
   line-height: 16px;
   letter-spacing: 0.846154px;
}

.footer__media{
   width: 87px;
   height: 13px;
   display: flex;
   justify-content: space-between;
}

.footer__media img:not(:first-child):not(:last-child){
   margin: 0 5px;
}

.copyright{
   width: 100%;
}
.copyright_container{
   height: 60px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   background-color: #171819;
   color:#FFFFFF;
}

.copyright_content{
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   letter-spacing: 0.846154px;
}


/* @media only screen and (max-width: 361px){
   html{
      min-width: 100%;
      overflow-x: hidden;
   }
   body
   {
      min-width: 100%;
      max-width: 100%;
      overflow-x: hidden;
   }
   .wrapper{
      width: 360px;
   }
   ._container{
      max-width: 328px;
   }
   .navbar{
      display: none;
   }
   .burger{
      display: block;
   }
   .header_picture_title{
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      display: flex;
      align-items: flex-end;
      text-align: center;
   }
   .header_picture_subtitle{
      margin-top: 20px;
      width: 242px;
      height: 44px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
   }
   .about__container{
      margin-top: 750px;
   }
   .story__container{
      display: flex;
      flex-direction: column;
      margin-top: 22px;
   }
   .description{
      margin-bottom: 50px;
   }
   .description__title{
      width: 328px;
      height: 104px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
   }
   .description__text{
      width: 328px;
   }
   .pictures{
      display: flex;
      justify-content: space-around; 
      max-width: 328px;     
   }
   .pic{
      width: 100px;
      height: 160px;
      margin-left: 0px;
   }
   .services_header{
      margin-top: 58px;
      display: flex;
      flex-direction: column;
      align-items: center
   }
   .services__title{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .about_title{
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
   }
   .services__description{
      width: 328px;
      height: 47px;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      line-height: 19px;
      margin-left: -15.4px ;
      margin-bottom: 20px;
   }
   .services_service{
      margin-top: 78px;
      display: flex;
      flex-direction: column;
   }
   .service_icon{
      width: 328px;
      height: 370px;
      margin-bottom: 10px;
   }
   .get-in-touch{
      margin-top: 40px;
   }
   .get-in-touch_bg{
      left: calc(50% - 1440px/2);
   }
   .get-in-touch__question{
      margin-top: 80px;
      width: 270px;
      height: 72px;
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
   }
   .get-in-touch__content{
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
   }

   .newsletter_bg{
      display: flex;
      flex-direction: column;
      margin-left: -17px;
      width: 378px;
      height: 200px;
   }
   .newsletter__content{
      width: 378px;
      display: flex;
      flex-direction: column;
   }
   .newsletter__content-text{
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
   }

   .newsletter__content-input {
      width: 250px;
      height: 40px;
   }
   .newsletter__content_wrapper{
      display: flex;
      flex-direction: column;
      align-items:center;
   }
   .newsletter__content-input{
      margin: 20px 0;
   }
   .footer_content{
      flex-direction: column;
      width: 360px;
   }
   .footer_content_wrapper{
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      margin-top: 10px;
      height: 1001px;
   }

   .footer__about{
      margin: 50px 0;
   }
   .footer__links-link{
      margin-top: 16.6px;
      margin-bottom: 30.5px;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
   }
   .footer__links-title{
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
   }

   .links_group{
      margin-bottom: 30px;
   }
   .footer__contact{
      display: flex;
      flex-direction: column;
      width: 141px;
      height: 158px;
      
   }

   .footer__contact-title {
      margin-top: 350px;
   }
   .footer__contact-adress{
      margin-top: 16px;
      font-weight: 400;
font-size: 14px;
line-height: 18px;
   }
   .footer__contact-phone{
      margin-top: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
   }
   .footer__contact-mail {
      display: none;
   }
   .footer__media{
      margin-top: 400px;
      margin-left: 125.5px;
     
   }

} */